body {
    background-color: #f5f5dc;
}

.login-card {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.login-btn {
    background-color: #9e5e40;
    color: #fff;
    border-radius: 30px;
}

.login-btn:hover {
    background-color: #3D5229;
}